<a href="https://colab.research.google.com/github/richtong/CarND-LaneLines-P1/blob/rich-run/Mercuries_ai_Aptiv_Demo_2020_12_28_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Mercuries.ai Demonstration of Aptiv Fleet Monitoring Data Analysis

This example loads data from BigQuery and shows how a data scientist can analyze the data for further use in a Machine Learning pipeline

In [ ]:
# https://cloud.google.com/bigquery/docs/visualize-jupyter
# https://tech.aaronteoh.com/bigquery-colaboratory-basics/
# https://colab.research.google.com/notebooks/bigquery.ipynb

# provide credentials
from google.colab import auth
print('Please use your Mercuries account')
auth.authenticate_user()
print('Authenticated')

# Enable display of large pandas frames
%load_ext google.colab.data_table

Please use your Mercuries account
Authenticated

# Importing data from BigQuery
This is an easy operating with the [BigQuery](https://cloud.google.com/bigquery/) library so you can run any SQL command and do a live import into this notebook.

In [7]:
# Example that is just printing
%%bigquery --project modified-tome-296423
SELECT * 
  FROM modified-tome-296423.frankendemo_obd.frankendemo_obd
  WHERE franken_demo_user = "Rich1" OR franken_demo_user = "Rich2"
  ORDER BY timestamp desc;

                             timestamp  ...  franken_demo_user
0     2020-12-24 02:29:29.517000+00:00  ...              Rich2
1     2020-12-24 02:29:29.446000+00:00  ...              Rich2
2     2020-12-24 02:29:29.357000+00:00  ...              Rich2
3     2020-12-24 02:29:29.357000+00:00  ...              Rich2
4     2020-12-24 02:29:29.356000+00:00  ...              Rich2
...                                ...  ...                ...
26425 2020-12-22 19:48:59.264000+00:00  ...              Rich1
26426 2020-12-22 19:48:59.264000+00:00  ...              Rich1
26427 2020-12-22 19:48:59.264000+00:00  ...              Rich1
26428 2020-12-22 19:48:59.264000+00:00  ...              Rich1
26429 2020-12-22 19:48:59.264000+00:00  ...              Rich1

[26430 rows x 10 columns]

In [ ]:
# Example putting it into a Pandas dataframe by adding a thrid argument
%%bigquery --project